<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <!-- <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"> -->

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/loginAdmin.css" rel="stylesheet" >

</head>

<body>

    <main role="main">
        <div class="card">
            <h3>LifeSpace管理者登入</h3>
            <div class="login_input">
                <input type="text" class="account" placeholder="E-mail">
                <input type="text" class="password" placeholder="密碼">
                <button id="loginBtn">送出</button>
            </div>
        </div>
    </main>








    <script>
        document.querySelector("#loginBtn").addEventListener("click", function () {
            const email = document.querySelector(".account").value;
            const password = document.querySelector(".password").value;

            fetch("admin/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ email, password }),
                credentials: "include"  //一定要加這句才會把session放在瀏覽器的coockie內
            })
                .then(res => {
                    if (!res.ok) {
                        throw new Error("登入失敗！");
                    }
                    return res.json();
                })
                .then(data => {
                    alert("登入成功，歡迎 " + data.adminName);
                    location.href = "backend_index.html";
                })
                .catch(err => {
                    alert("登入失敗，請檢查帳號或密碼");
                });
        });
    </script>





</body>

</html>