body {
	font-family: 'Noto Sans TC', sans-serif;
	background-color: white !important;
}

/* Main content styles */
.main-content {
    margin-left: 220px;
    padding: 30px 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-input {
    flex-grow: 1;
    max-width: 400px;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

/* Hashtag 按鈕樣式 */
.hashtag-container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 10px; /*與分隔線的距離*/
      margin-bottom: 20px; /*與FAQ距離*/
}
.hashtag-button {
      background: #d1ecf1;
      border: none;
      border-radius: 20px;
      padding: 8px 15px;
      cursor: pointer;
      transition: background 0.3s ease;
}
.hashtag-button:hover {
      background: #abdde5;
}

.hashtag-button.active {
  background: #5aaeb5 !important; /* 當按鈕被點擊後，變為深色 */
  color: white; /* 文字變白，確保可讀性 */
}

/* table { */
/*     width: 100%; */
/*     border-collapse: collapse; */
    
/* } */

/* th, td { */
/*     border: 1px solid #ddd; */
/*     padding: 12px; */
    
/* } */

th {
    background-color: #e6f7f8;
    font-weight: bold;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center !important;
    vertical-align: middle !important;
}

#faqTable  {
    width: 200% !important;
    border-collapse: collapse;
    


}
#faqTable td {
	text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    padding: 12px;
}

#faqTable td.faq-text {
/*     text-align: left; */
    word-wrap: break-word;
    white-space: normal;
    max-height: 100px;
    overflow: auto;
}

/* 新增的按鈕樣式 */
.btn-edit {
    background-color: #70b6c1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-edit:hover {
    background-color: #5a9da7;
}

.btn-deprecated {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-deprecated:hover {
    background-color: #c82333;
}
.large-textarea {
  height: 200px;
/*   resize: none; */
}

/* 響應式調整 */
@media (max-width: 768px ) {
    .main-content {
        margin-left: 0;
    }
}