/* Sidebar styles */
:root {
    --sidebar-bg: #e6f7f8;
    --sidebar-color: #333;
    --primary-color: #70b6c1;
    --hover-color: #5a9da7;
    --light-gray: #f8f9fa;
}


.sidebar {
    background-color: var(--sidebar-bg);
    color: var(--sidebar-color);
    height: 100vh;
    position: fixed;
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    top: 0;               /* 關鍵：貼齊頂部 */
    left: 0;
    z-index: 1030;        /* 確保不被其他元素遮住 */
}

.sidebar-header {
    padding: 0 20px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.sidebar-logo {
    max-width: 160px;
    margin-left: 8px;
    margin-bottom: 5px;
    text-align: center;
}

.sidebar-title {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    max-width: 140px;
    margin-left: 16px;
}


/* 整合後的導航選單樣式 */
.nav-link {
    color: var(--sidebar-color);
    padding: 12px 20px;
    display: flex;
    align-items: center;
    /*transition: all 0.3s;*/
    font-size: 13px;
    font-weight: bold;
}

.nav-link:hover, .nav-link.active {
    background-color: rgba(112, 182, 193, 0.2);
}

.nav-link.active {
    color: #007bff !important;
}

.nav-link i {
    width: 24px;
    margin-right: 10px;
    text-align: center;
}

/* 箭頭方向控制 */
.nav-link .fa-chevron-down {
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
    margin-left: auto;
}

.nav-link.active .fa-chevron-down {
    transform: rotate(0deg);
}

.submenu {
    padding-left: 34px;
    display: none;
    list-style: none;
}

.submenu.show {
    display: block;
}

.submenu-item {
    font-size: 13px;       /* 字體大小可以依你需求調整 */
    font-weight: bold;     /* 粗體 */
    padding: 6px 20px;
    display: flex;
    align-items: center;
    color: var(--sidebar-color);
    text-decoration: none;
    transition: all 0.3s;
    font-size: 13px;
    padding: 10px 20px;
    background-color: #fafafa;
    border-left: 3px solid #ccc;
}

.submenu-item:hover, .submenu-item.active {
    background-color: rgba(112, 182, 193, 0.2);
}

.submenu-item i {
    margin-right: 10px;
    font-size: 6px;
    width: 8px;
    list-style: none;
}


@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        z-index: 1000;
        height: 100vh;
        overflow-y: auto;
        transition: left 0.3s;
    }

    main {
        margin-left: 0;
    }
}